{% extends 'teacher_base.html' %}


{% load static %}

{% block title %}

Manage Classes | Macdonald Trevan International schools

{% endblock %}


{% block content%}




<div class="dashboard-body">
    <!-- Breadcrumb Start -->
<div class="breadcrumb mb-24">
<ul class="flex-align gap-4">
<li><a href="" class="text-gray-200 fw-normal text-15 hover-text-main-600">Home</a></li>
<li> <span class="text-gray-500 fw-normal d-flex"><i class="ph ph-caret-right"></i></span> </li>
<li><span class="text-main-600 fw-normal text-15">Manage Classes</span></li>
</ul>
</div>
<!-- Breadcrumb End -->



    <!-- Recommended Course Start -->
    <div class="card mt-24">
        <div class="card-body">
            <div class="mb-20 flex-between flex-wrap gap-8">
                <h4 class="mb-0">Recommended For You</h4>
               
            </div>
            
            <div class="row g-20">
               
                
               
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="card border border-gray-100">
                        <div class="card-body p-8">
                            <div class="p-8">
                               
                                <h5 class="mb-0"><a href="course-details.html" class="hover-text-main-600">Class Name</a></h5>

                                <div class="flex-align gap-8 flex-wrap mt-16">
                                  
                                    <div>
                                        <span class="text-gray-600 text-13">Created by <a href="https://html.themeholy.com/edmate/profile.html" class="fw-semibold text-gray-700 hover-text-main-600 hover-text-decoration-underline">Teacher Name</a> </span>
                                    </div>
                                </div>

                                <div class="flex-align gap-8 mt-12 pt-12 border-top border-gray-100">
                                    <div class="flex-align gap-4">
                                        <span class="text-sm text-main-600 d-flex"><i class="ph ph-video-camera"></i></span>
                                        <span class="text-13 text-gray-600">Num of Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-sm text-main-600 d-flex"><i class="ph ph-clock"></i></span>
                                        <span class="text-13 text-gray-600">Num of Courses</span>
                                    </div>
                                </div>
                                
                                <div class="flex-between gap-4 flex-wrap mt-24">
                                    <div class="flex-align gap-4">
                                      
                                    </div>
                                    <a href="course-details.html" class="btn btn-outline-main rounded-pill py-9">Edit Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
            </div>

     
            
        </div>
    </div>
    <!-- Recommended Course End -->
</div>




{% endblock %}